#account-circle path {
    pointer-events: none;
}

#account-menu {
    transition: ease-in-out all 0.5s;
    visibility: visible;
}

#account-menu.opened {
    transform: translateY(0px);
    opacity: 1;
}

#account-menu.closing {
    transform: translateY(-50px);
    opacity: 0;
}

#account-menu.closed {
    transform: translateY(-50px);
    opacity: 0;
    pointer-events: none;
}
