name: Build site for development
on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install dependencies
        run: npm install

      - name: Build frontend
        run: |
          npm run build:dev
          
      - name: Upload frontend build
        uses: actions/upload-artifact@v4
        with:
          name: esgi-intranet-frontend
          path: dist
